<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Superhero</title>
</head>
<body>
<form action="{% url 'superheroes:create_new_superhero' %}" method="post">
  {% csrf_token %}
  Name:<input type="text" name="name" id="name"><br>
  Alter ego:<input type="text" name="alter_ego" id="alter_ego"><br>
  Primary superhero ability:<input type="text" name="primary_superhero_ability" id="primary_superhero_ability"><br>
  Secondary superhero ability:<input type="text" name="secondary_superhero_ability" id="secondary_superhero_ability"><br>
  Catch phrase:<input type="text" name="catch_phrase" id="catch_phrase"><br>
    <input type="submit" value="Add new!">
</form>
</body>
</html>