<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero detail</title>
</head>
<body>
<ul>

    <li><h2>{{specific_superhero.name}}</h2></li>
    <li><h2>{{specific_superhero.alter_ego}}</h2></li>
    <li><h2>{{specific_superhero.primary_superhero_ability}}</h2></li>
    <li><h2>{{specific_superhero.secondary_superhero_ability}}</h2></li>
    <li><h2>{{specific_superhero.catch_phrase}}</h2></li>

</ul>
</body>
</html>